*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::root{
    --yellow: #eed709;
    --water-blue: #6cabff;
    --white:#fff;
    --lightgray: #a5a5a5;
}
::-webkit-scrollbar{
    background: #eed709;
    width:8px;
}
::-webkit-scrollbar-button{
    background: #fff;
    color:#233233;
    height: 10px !important;
}
::-webkit-scrollbar-thumb{
    background: #233233;
    color:#fff;
    height: 10% !important;
}
::-webkit-scrollbar-track{
    background: #eed709;
    color:#fff;
    height: 30px;
}
::-webkit-scrollbar-track-piece{
    background: #eed709;
    color:#fff;
    height: 30px;
}
::-webkit-scrollbar-corner{
    background: #eed709;
    color:#fff;
    height: 30px;
}
body, html{
    width:100%;
    height: 100vh;
    background: #ccc;
    color:#444;
    flex-grow: 1;
}
.card{
    padding:8px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
}
.card1{
    background: #f8e327;
    color:#fff;
}
.card2{
    background: #27abf8;
    color:#fff;
}
.card3{
    background: #afad9d;
    color:#fff;
}
.card4{
    background: #27f866;
    color:#fff;
}

.card .icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.card .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.card .info .title{
    font-size: 1.5rem !important;
}
.card .info .message{
    font-size: 2rem !important;
    columns: #a5a5aa !important;
}
.top-right{
    position: absolute;
    top:0;
    right:0;
    box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.admin-wrapper{
    display: grid;
    grid-template-columns: 240px 3fr;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-areas: 
    "nav header "
    "nav main"
    "nav footer";
    height: 100%;
    width: 100%;
}
.admin-header{
    grid-area: header;
    background: #fff;
    color:#233233;
    padding: 30px;
    padding-top: 20px ;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #ccc;
}
.admin-header img{
    width: 35px;
    border-radius: 50%;
}
.search-btn{
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
}
.notifications a{
    text-decoration: none;
    position: relative;
    font-size: 22px;
    background: var(--yellow);
    color:#fff;
    width:48px;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
}
.notifications span{
    position: absolute;
    top:-8px;
    right: -8px;
    background: #f20;
    border-radius: 50%;
}
.admin-nav{
    grid-area: nav;
    background: #233233;
    color: #a5a5a5;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    z-index: 99;
}
.admin-nav .nav-header{
    display: flex;
    position: relative;
    border-bottom: 2px solid #a5a5a5;
}
.nav-header h1{
    font-size: 26px;
}
.nav-header .nav-close{
    position: absolute;
    right:-10px;
    top:-30px;
    font-size: 28px;
    /* display:none; */
    color:#fff;
    font-weight: 600;
}

.admin-nav .nav-menu{
    padding-top:20px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none; 
}
.nav-menu h3{
    margin-left: -10px;
    font-size: 22px;
}
.nav-menu .nav-item{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.nav-item i{
    width:30px;
    margin-right: 5px;
}
.nav-item a{
    text-decoration: none;
    font-size: 18px;
    color:#a5a5a5;
    cursor: pointer;
}
.nav-item.active{
    background: #fff;
    color:#07b;
}
.nav-item:not(.active):hover{
    background: #fff;
    color:#07b;;
}
.admin-main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.admin-main .greetings{
    background: var(--white);
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.greetings img{
    width: 120px;
    border-radius: 50%;
    margin-right: 10px;
}
.greetings .greetings-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
}
.greetings-text .title{
    color: #6cabff;
    font-size: 2rem;
    letter-spacing: 1px;
}
.greetings-text .message{
    color:#a5a5a5;
    font-size: 1.5rem;
}
.admin-main .updates{
    background:var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.updates > .title{
    color: #6cabff;
    font-size: 2rem;
    letter-spacing: 1px;
}
.updates .cards{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.updates .update{
    width: 23.9999%;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    cursor: pointer;
}
.sales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
}
.sales .update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.admin-main .main-cards{
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:10px;
}

.today .card-body{
    background: #fff;
}
.today .card-title{
    background: #fff;
    color: #6cabff;
    padding: 8px;
    text-align: center;

    border-bottom: 1px solid #ccc;
}
.today li{
    background: transparent;
}
.today span{
    float: right;
    color: #a5a5a5;
    font-size: 1.5rem;
}
.most-viewed-today img{
    width:64px;
}
.admin-footer{
    grid-area: footer;
    background: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.radio-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap:10px;
    text-align: center;
}
.radio-group > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #fff;
    padding: 3px;
    box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
.images .others{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
.images .image{
    padding: 5px;
    box-shadow: 2px 2px 3px #ccc, -2px -2px 3px #ccc;
    min-height: 200px;
    position: relative;
}
.cart-card{
    background: var(--white);
    color:#000;
    box-shadow: none;
}
.cart-card .card-header{
    background: transparent;
}
.image-col img{
    object-fit: scale-down !important;
    -o-object-fit: scale-down;
    object-position: center;
    -o-object-position: center;
    width: 100px;
}
@media only screen and (max-width:992px){
   .admin-wrapper{
       grid-template-columns: 3fr;
       grid-template-areas: 
       "header"
       "main"
       "footer";
   }
   .admin-nav{
       display: none;
   }
   .updates .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
   }
   .updates  .update{
       width:auto;
       padding: 8px;
       font-size: small !important;
   }
   .update > .title{
       font-size: 18px;
   }
   .update > .icon{
    font-size: 18px;
   }
   .admin-main .main-cards{
       grid-template-columns: 1fr;
   }
   .images{
    display: grid;
    grid-template-columns: 1fr;
    gap:5px;
}
}

@media only screen and (max-width:768px){
    .notifications{
        display: none;
    }
    .updates .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .update{
        display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       text-align: center;
       align-items: center;
    }
    .update .icon{
        display: none;
    }
    table.cart tr:first-child{
        display: none;
    }
    table.cart tr{
      display: grid ;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
      "image_col image_col details_col details_col details_col"
      "image_col image_col size_col price_col action_col ";
      margin-bottom: 2px;  
    }
    .cart tr .image-col{
        grid-area: image_col;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .image-col img{
        width: 100% !important;
    }
    .cart tr .details-col{
        grid-area: details_col;
    }
    .cart tr .size-col{
        grid-area: size_col;
    }
    .cart tr .price-col{
        grid-area: price_col;
    }
    .cart tr .action-col{
        grid-area: action_col;
    }
    .cart tr:last-child{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
}
@media only screen and (max-width:568px){
    .images{
        display: grid;
        grid-template-columns: 1fr;
        gap:5px;
    }
    .images .others{
        display: grid;
        grid-template-columns: 1fr;
        gap:5px;
    }
    table.cart tr{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "image_col details_col details_col"
        "size_col price_col action_col "; 
    }
    .cart tr:last-child{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}